<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goott.mapper.DrawAdminMapper">
	<select id="draw_admin" resultType="com.goott.domain.DrawVO">
		<![CDATA[
			select draw_id, draw_title, draw_price, product_id,
				   draw_reqruit, draw_event_start_date, draw_event_end_date,
		           draw_pur_start_date, draw_pur_end_date, draw_comment 
		      from t_draw;
		]]>
	</select>
	
	<select id="draw_admin_add_plus_product" resultType="com.goott.domain.ProductVO">
		<![CDATA[
			select product_id, product_category_id, product_brand_id, product_name
	      	from t_product 
	      	where   
	      	product_limited = '한정판' and product_category_id= #{product_category_id} and product_brand_id= #{product_brand_id}
	      	order by product_category_id 
		]]>
	</select>
	
	<select id="draw_admin_add_plus" parameterType="_int" resultType="com.goott.domain.ProductVO">
		<![CDATA[
			select product_id, product_category_id, product_brand_id, product_name
	      	from t_product
	      	where product_category_id = #{product_category_id}  
	     	and product_limited = '한정판'
	      	order by product_category_id 
		]]>
	</select>
</mapper>